<div class="container">
    <div class="jumbotron">
        <p>This page is for those interested in knowing how I built my app. The front end was built using Bootstrap for my CSS and
        Angular JS for the JavaScript.  I used several modules for Angular including ui-router and ui-bootstrap.  My back end was built using
            Node.js with the Express and Sequelize modules. I am using PostgreSQL as my main database for the user and session data and my
            messenger is using Firebase.
        </p>


    </div>
</div>