<h3>Search for Sessions</h3>


        <div>
            Search by Date, Game, Start Time or Skill Level Here: <input ng-model="search">
            <div ng-repeat='session in test_sessions | filter:search'>
                <ul>
                    <li> Date of Session: {{session.date | date: 'shortDate'}}</li>
                    <li> Game: {{session.game}}</li>
                    <li> Start Time {{session.time | date: 'shortTime'}}</li>
                    <li> Skill Level: {{session.skill_level}}</li>
                </ul>
            </div>

        </div>