<form>

    <h4>Choose a profile name</h4>
    <input placeholder="Profile Name" name="ProfileName" ng-model="gameMobtest_user.user_id">
    <br>
    <h4>Your First Name</h4>
    <input placeholder="First Name" name="FirstName" ng-model="gameMobtest_user.first_name">
    <br>
    <h4>Your Last Name</h4>
    <input placeholder="Last Name" name="LastName" ng-model="gameMobtest_user.last_name">
    <br>
    <h4>Your Console of choice</h4>
    <input placeholder="Console" name="Console" ng-model="gameMobtest_user.console">
    <br>





    <hr>
    <button type="submit" ng-click="submitForm()">Submit Profile Info</button>
    </hr>
</form>