.grid {
    width: 500px;
    height: 500px;
}

.full-1 {
    background-color: #54565C;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.full-dev {
    background: url('../public/Images/2014-11-destiny_wallpaper_high_resolution.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.jumbotron {
    opacity: .9;
}

.nav {
    background-color: #222222;
}
.ng-enter{
    transition: 0.75s;
    opacity: 0;
}
.ng-enter-active{
    opacity: 1;
}