.myGrid {
    width: 70%;
    height: 15%;
}

.full-1 {
    background-color: #54565C;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.full-dev {
    background: url('../public/Images/2014-11-destiny_wallpaper_high_resolution.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.jumbotron {
    opacity: .8;
}

.navbar-default  {
    background-color: #222222;
    border: 0px ;
    border-bottom-color: transparent;
}
.myNav a:focus, {
    background-color: #f5f5f5;
}

.ng-enter{
    transition: 0.75s;
    opacity: 0;
}
.ng-enter-active{
    opacity: 1;
}

.font-white{
    color:#ffffff;
}
.hvr-shutter-out-vertical {
    background: #222222;
}
.table {
    background-color: #f5f5f5;
    color: #0f0f0f;
    opacity: .8;
}